body {
  background-color: white !important;
  font-family: "Raleway", sans-serif !important;
  background-image: url(./Images/pngwing.com.png);
  scroll-behavior: smooth !important;
}

#container {
  height: 100vh;
  max-width: 448px;
  background-color: white !important;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#image {
  height: 200px;
  width: 100%;
  background-image: url(Images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#form {
  height: 79.5vh;
  width: 100%;
  background-color: aliceblue;
  border-radius: 25px 25px 0 0;
  margin: -50px 0 0 0;
  padding: 15px 30px;
}

#signUp h3 {
  height: fit-content;
  width: 100%;
  text-align: center;
}

#user {
  margin: 10px 0 -1px 0;
  font-weight: 600;
}

.inpt {
  background-color: transparent;
  border: 2px solid #ffc107;
  width: 90%;
  height: 40px;
  border-radius: 5px;
}

#pass {
  height: 40px;
  width: 90%;
  border: 2px solid #ffc107;
  border-radius: 5px;
}

.inpts {
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
  height: 35px;
}


#btns {
  margin-top: 15px !important;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

#btns button {
  color: white !important;
  font-weight: 600 !important;
}

a {
  text-decoration: none !important;
}


#setpin {
  height: 100vh;
  max-width: 448px;
  background-color: aliceblue;
  padding: 70px 15px 20px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#setpin h4 {
  font-weight: 600;
}

#setpin p {
  color: gray;
  width: 100%;
  font-size: 16px;
}

#setpin span {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

#input {
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 5em 0 0 0;
}

#infos {
  color: red !important;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  height: 30px;
  font-size: 13px !important;
}

.pin-container {
  /* display: flex; */
  gap: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
  height: 20vh;
  /* background-color: red; */
  padding-top: 3em;
}

.pin-box {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.pin-box:focus {
  border-color: #ffc107;
  box-shadow: 0 0 5px rgba(255, 217, 0, 0.5);
}

#create {
  height: fit-content;
  width: 100%;
  text-align: center;
  margin: 9em 0 0 0;
}

#create button {
  color: white;
  font-weight: 600;
  height: 40px;
}

/* #setpin{
  display: none;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

#welcomepage {
  height: 100vh;
  max-width: 448px;
  background-color: #ffc107 !important;
  /* background-color: #0a0831 !important; */
  margin: auto;
  font-weight: 600;
  color: #0a0831;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#welcome {
  display: flex;
  justify-content: center;
  padding: 50% 0 0 0;
}

#safebank {
  height: 50px;
  text-align: center;
  padding: 10px 0 0 0;
}

#build {
  width: 80%;
  height: 50px !important;
  text-align: center;
  margin: auto;
  padding: 40px 0 0 0;
}

#autotype {
  font-size: 40px;
  -webkit-text-fill-color: #0a0831;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0a0831;
  font-weight: 600;
  /* -webkit-text-stroke-color: #ffc107; */
}

#dot {
  /* height: 50px; */
  justify-content: center;
  text-align: center;
  margin: 11em 0 0 0;
  align-items: center;
  gap: 15px;
}

#dots {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0a0831;
}

#load {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loads {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#LoginAcc {
  height: 50px !important;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #ffc107, -20px 0 #ffffff;
    background: #ffc107;
  }

  33% {
    box-shadow: 20px 0 #ffc107, -20px 0 #ffffff;
    background: #ffffff;
  }

  66% {
    box-shadow: 20px 0 #ffffff, -20px 0 #ffc107;
    background: #ffffff;
  }

  100% {
    box-shadow: 20px 0 #ffffff, -20px 0 #ffc107;
    background: #ffc107;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 50px;
}