body {
    font-family: "Raleway", sans-serif !important;
    background-image: url(./Images/pngwing.com.png);
    width: 100%;
    background-size: cover;
    /* opacity: 0.5; */
}

#container {
    height: 100vh;
    max-width: 448px;
    background-color: white !important;
    margin: auto;
}

#image {
    height: 200px;
    width: 100%;
    background-image: url(Images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#form {
    height: 517px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 25px 25px 0 0;
    margin: -50px 0 0 0;
    padding: 15px 30px;
}

#row {
    /* margin: 0 0 0 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    font-size: 2rem;
}

#row i {
    color: #686767;
}

.google:hover {
    color: black !important;
}

.ig:hover {
    color: #e1305c !important;
}

.git:hover {
    color: #000000 !important;
}

.fb:hover {
    color: #3b5998 !important;
}

#signUp h3{
    height: fit-content;
    width: 100%;
    text-align: center;
}

#contents {
    height: 25em;
    width: 100%;
    overflow-y: auto;
    color: black;
    font-weight: 500;
}

#contents::-webkit-scrollbar {
    display: none;
}

#user {
    margin: 10px 0 -1px 0;
}

.inpt {
    background-color: transparent;
    border: 2px solid #ffc107;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    /* background-color: rgba(250, 247, 247, 0.507); */
}


#pass {
    height: 40px;
    width: 90%;
    border: 2px solid #ffc107;
    border-radius: 5px;
}

.inpts {
    background-color: transparent;
    outline: none;
    border: none;
    width: 90%;
    height: 35px;
}

#btns {
    margin-top: 15px !important;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

a {
    text-decoration: none !important;
}


::-webkit-scrollbar{
    width: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #ffc107;
    border-radius: 50px;
}